<div class="row-fluid pagination-right page-controls">
    <a class="btn btn-success" ng-click="save()"><i class="icon-ok icon-white"></i> Save</a>
    <a href="/asset-list" class="btn btn-warning">Cancel</a>
    <a href="#" class="btn btn-primary">Connect</a>
    <a ng-click="delete()" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
    <a ng-click="duplicate()" class="btn btn-primary"><i class="icon-repeat icon-white"></i> Duplicate</a>
    <a href="/new-asset" class="btn btn-primary"><i class="icon-plus icon-white"></i> New Asset</a>
</div>