<div class="row-fluid page-controls geo-page-controls">
    <div class="search-container span6">
        <form class="form-search span12" ng-submit="searchAssets()">
            <div class="input-append span12">
                <input type="text" class="span9 search-query" ng-model="header.search" placeholder="Search">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>
    <div class="span6">
        <div class="span3">
            <select class="span12">
                <option>PartyName</option>
            </select>
        </div>
    </div>
</div>