<div ng-include src="'partials/header.html'"></div>
<div class="geo-page-container">
    <div class="map-filters hidden">
        <form class="form-horizontal location-form">
            <a class="btn btn-primary btn-link pull-right"><i class="icon-plus-sign"></i></a>
            <h5>Organization</h5>
            <div class="control-group">
                <label class="control-label">Full Name</label>
                <div class="controls">
                    <select>
                        <option>Full name</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Display Name</label>
                <div class="controls">
                    <select>
                        <option>Display Name</option>
                    </select>
                </div>
            </div>
            <h5>Location</h5>
            <div class="control-group">
                <label class="control-label">Location Name</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Street</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Number</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Postal/Zip Code</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">City</label>
                <div class="controls">
                    <select>
                        <option>City</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Country</label>
                <div class="controls">
                    <select>
                        <option>Country</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Geolocation</label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Building(s)</label>
                <div class="controls">
                    <a class="btn btn-primary btn-link pull-right"><i class="icon-plus-sign"></i></a>
                    <label class="checkbox">
                        <input type="checkbox" name="building"> No
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="building"> Yes
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="google-map">

    </div>
</div>